body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin random-border($green, $red, $blue) {
  border: 4px solid rgb($green, $red, $blue);
}

@mixin random-bg($green, $red, $blue) {
  background: rgba($green, $red, $blue, 0.2) !important;
}

@for $i from 1 to 11 {
  $green: random(255);
  $red: random(255);
  $blue: random(255);
  .colors-#{$i} {
    @include random-border($green, $red, $blue);
  }
  .bg-visiblity {
    @include random-bg($green, $red, $blue);
  }
}
