body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin random-bg() {
  border: 4px solid rgb(random(255), random(255), random(255));
}

@for $i from 1 to 11 {
  .colors-#{$i} {
    @include random-bg();
  }
}
